@font-face { 
	font-family: 'AWConqueror';
	src: url('../font/AWCo-FulFa-Free/AWConquerorCarved-Regular.otf');
	font-weight: normal;
    font-style: normal;
}

@font-face { 
	font-family: 'AWConquerorDidot';
	src: url('../font/AWCo-FulFa-Free/AWConquerorDidot-Light.otf');
}

@font-face { 
	font-family: 'AWConquerorInline';
	src: url('../font/AWCo-FulFa-Free/AWConquerorInline-Regular.otf');
}


header{
	background: url('../images/nightMarketLogo.png') no-repeat;
	background-size: 100%;
	text-indent: -9999px;
	min-height: 280px;
	margin-top: 40px;
}

body{
	background: url('../images/paper_background.jpg') no-repeat top left fixed;
	background-size: cover;
}

.black-ribbon {
    padding-top: 50px;
}

.blgcontent {
    width:100%;
    /*min-height:100vh*/;
    background-image:url('../images/Lined-Paper-White-Tileable-pattern.jpg');
    background-color:#ccc;
    padding: 0;
}

/*.blog-head{
    height:150px;
}*/

.blog-content{
    padding: 0;
    margin: 0;
    color: #2f2f2f;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

h1{
    font-family: "AWConqueror", sans-serif;
    font-size: 2.8em;
    color: #2f2f2f;
    padding: 0;
    text-transform: uppercase;
    line-height: 1.1em;
}

.by {
    font-family: "AWConquerorDidot", sans-serif;
    font-size: 1.6em;
    color: #828282;
}

.name {
    font-family: "AWConquerorInline", sans-serif;
    font-size: 1.6em;
    color: #64c3cc;
    text-transform: uppercase;
}

.line{   
    padding: 0;
    padding-bottom: 10px;
}

.divline{
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: solid 2px #64c3cc;
}

.date, .comments{
    vertical-align: middle;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    color: #2f2f2f;
}

.date-cont{
    padding-bottom: 10px;
}

.auth-img{
    padding-top: 59px;
}

.bookmark{
    float:right;
    padding-bottom: 10px;
}

#home-content{
	min-height: 500px;
}

.hex {
    float: left;
    margin-right: 12px;
    margin-bottom: -24px;
	width: 172px;
	position: relative;
}

.hex .top {
	border-color: transparent transparent transparent transparent;
	border-color: rgba(255,255,255,0) rgba(255,255,255,0) rgba(255,255,255,0) rgba(255,255,255,0);
	border-top-style: inset;
	border-right-style: inset;
	border-bottom-style: inset;
	border-left-style: inset;
    width: 0;
    border-bottom: 30px solid #6C6;
    border-left: 68px solid rgba(255,255,255,0);
    border-right: 68px solid rgba(255,255,255,0);
}

.hex .middle {
    width: 135px;
    height: 94px;
    background: #6C6;
    text-align: center;
}

.hex .bottom {
	border-color: transparent transparent transparent transparent;
	border-color: rgba(255,255,255,0) rgba(255,255,255,0) rgba(255,255,255,0) #fff;
	border-top-style: inset;
	border-right-style: inset;
	border-bottom-style: inset;
	border-left-style: inset;
    width: 0;
    border-top: 30px solid #6C6;
    border-left: 68px solid rgba(255,255,255,0);
    border-right: 68px solid rgba(255,255,255,0);
}

.hex-row {
    clear: left;
}

.hex-row.odd {
	margin-left: 91px;
}

#hex5 a img{
	width: 172px;
}

/* content hover plugin css */

.contenthover { 
	display: none; 
}

.ch_hover{
	background: none;
}
.ch_wrapper{
	float: left;
	margin-right: 12px;
	margin-top: -34px;
	height: 182px;
}

.emph {
	font-weight: bold;
}

.imgContent {
	text-align: center;
}


/*-------------------blog reply starts here-----------------*/



.r_input{

	margin-bottom: 20px;
	width: 80%;
	background-color: #ccc;
	border: none;
	padding: 1%;

} 

#ce_comment {
	min-height: 200px;
}

#reply_submit{
	color: #fff;
	border: none;
	padding:1% 2%;
	background-color: #64c3cc;
}

#comment_engine{
	background-color: #ebebeb;
	padding-left: 71px;
padding-top: 2%;
padding-bottom: 2%;
}


::-webkit-input-placeholder {
   color: #fff;  
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: #fff;  
}


/*-------------------blog reply ends here-----------------*/
/* ---------------------------- */

/* iPads (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait){
	.hex-content{
		width: 75.8%;
	}
	/*header {
		min-height: 150px;
	}*/
}

/* iPhone (landscape) --------- */
@media only screen and (min-width : 480px) and (max-width : 768px) and (orientation : landscape){
	.ch_wrapper{
		margin-top: 10px;
		width: 100% !important;
	}

	.hex-row.odd {
		margin-left: 0;
	}

	#hex5{
		margin-bottom: 0;
	}

	header{
	background: url('../images/nightMarketLogoSmall.png');
	background: url('../images/nightMarketLogoSmall.png');
	background-size: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-top: 0;
	min-height: 250px;
	}

	.auth-img{
    padding: 10px 0;
	}

	#comment_engine {

	padding-left: 20px;
	}

}

/* iPhone (portrait) --------- */
@media only screen and (min-width : 320px) and (max-width : 480px) and (orientation : portrait){
	.hex-content{
		width:64%;
	}
	.ch_wrapper{
		margin-top: 10px;
		width: 100% !important;
	}

	.hex-row.odd {
		margin-left: 0;
	}

	#hex5{
		margin-bottom: 0;
	}

	header{
	background: url('../images/nightMarketLogoSmall.png');
	background-size: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-top: 0;
	min-height: 200px;
	}

	.auth-img{
    padding: 10px 0 20px;
	}

	#comment_engine {

	padding-left: 20px;
	}

	
}
